
@{
    ViewData["Title"] = "Canon";
}
<section>
    <div class="container-fluid mt-5">
        <h3 class="text-center text-primary bg-warning p-1" style="margin-top: 100px;">CANON</h3>
        <div class="row">
            <!-- Main Content -->
            <div class="col-12">
                <div class="row g-4">
                    <!-- Camera Cards -->
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="card shadow-sm h-100">
                            <img src="~/assets/img/tr12.png" alt="Camera" class="img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title text-center">Nikon</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="star-rating">
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="far fa-star text-warning me-1"></i>
                                    </div>
                                    <i class="fa fa-heart-o text-danger"></i>
                                </div>
                                <!-- Rental Price Dropdown -->
                                <div class="dropdown mt-3 text-end w-100">
                                    <button class="btn btn-primary w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Rental Price
                                    </button>
                                    <ul class="dropdown-menu w-100">
                                        <li><a class="dropdown-item" href="#">$10 / Day</a></li>
                                        <li><a class="dropdown-item" href="#">$50 / Week</a></li>
                                        <li><a class="dropdown-item" href="#">$180 / Month</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="card shadow-sm h-100">
                            <img src="~/assets/img/tr12.png" alt="Camera" class="img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title text-center">Canon</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="star-rating">
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="far fa-star text-warning me-1"></i>
                                    </div>
                                    <i class="fa fa-heart-o text-danger"></i>
                                </div>
                                <!-- Rental Price Dropdown -->
                                <div class="dropdown mt-3 text-end w-100">
                                    <button class="btn btn-primary w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Rental Price
                                    </button>
                                    <ul class="dropdown-menu w-100">
                                        <li><a class="dropdown-item" href="#">$15 / Day</a></li>
                                        <li><a class="dropdown-item" href="#">$60 / Week</a></li>
                                        <li><a class="dropdown-item" href="#">$200 / Month</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="card shadow-sm h-100">
                            <img src="~/assets/img/tr12.png" alt="Camera" class="img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title text-center">Canon</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="star-rating">
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="far fa-star text-warning me-1"></i>
                                    </div>
                                    <i class="fa fa-heart-o text-danger"></i>
                                </div>
                                <!-- Rental Price Dropdown -->
                                <div class="dropdown mt-3 text-end w-100">
                                    <button class="btn btn-primary w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Rental Price
                                    </button>
                                    <ul class="dropdown-menu w-100">
                                        <li><a class="dropdown-item" href="#">$15 / Day</a></li>
                                        <li><a class="dropdown-item" href="#">$60 / Week</a></li>
                                        <li><a class="dropdown-item" href="#">$200 / Month</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="card shadow-sm h-100">
                            <img src="~/assets/img/tr12.png" alt="Camera" class="img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title text-center">Canon</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="star-rating">
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="far fa-star text-warning me-1"></i>
                                    </div>
                                    <i class="fa fa-heart-o text-danger"></i>
                                </div>
                                <!-- Rental Price Dropdown -->
                                <div class="dropdown mt-3 text-end w-100">
                                    <button class="btn btn-primary w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Rental Price
                                    </button>
                                    <ul class="dropdown-menu w-100">
                                        <li><a class="dropdown-item" href="#">$15 / Day</a></li>
                                        <li><a class="dropdown-item" href="#">$60 / Week</a></li>
                                        <li><a class="dropdown-item" href="#">$200 / Month</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="card shadow-sm h-100">
                            <img src="~/assets/img/tr12.png" alt="Camera" class="img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title text-center">Nikon</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="star-rating">
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="far fa-star text-warning me-1"></i>
                                    </div>
                                    <i class="fa fa-heart-o text-danger"></i>
                                </div>
                                <!-- Rental Price Dropdown -->
                                <div class="dropdown mt-3 text-end w-100">
                                    <button class="btn btn-primary w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Rental Price
                                    </button>
                                    <ul class="dropdown-menu w-100">
                                        <li><a class="dropdown-item" href="#">$10 / Day</a></li>
                                        <li><a class="dropdown-item" href="#">$50 / Week</a></li>
                                        <li><a class="dropdown-item" href="#">$180 / Month</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="card shadow-sm h-100">
                            <img src="~/assets/img/tr12.png" alt="Camera" class="img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title text-center">Canon</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="star-rating">
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="far fa-star text-warning me-1"></i>
                                    </div>
                                    <i class="fa fa-heart-o text-danger"></i>
                                </div>
                                <!-- Rental Price Dropdown -->
                                <div class="dropdown mt-3 text-end w-100">
                                    <button class="btn btn-primary w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Rental Price
                                    </button>
                                    <ul class="dropdown-menu w-100">
                                        <li><a class="dropdown-item" href="#">$15 / Day</a></li>
                                        <li><a class="dropdown-item" href="#">$60 / Week</a></li>
                                        <li><a class="dropdown-item" href="#">$200 / Month</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="card shadow-sm h-100">
                            <img src="~/assets/img/tr12.png" alt="Camera" class="img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title text-center">Canon</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="star-rating">
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="far fa-star text-warning me-1"></i>
                                    </div>
                                    <i class="fa fa-heart-o text-danger"></i>
                                </div>
                                <!-- Rental Price Dropdown -->
                                <div class="dropdown mt-3 text-end w-100">
                                    <button class="btn btn-primary w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Rental Price
                                    </button>
                                    <ul class="dropdown-menu w-100">
                                        <li><a class="dropdown-item" href="#">$15 / Day</a></li>
                                        <li><a class="dropdown-item" href="#">$60 / Week</a></li>
                                        <li><a class="dropdown-item" href="#">$200 / Month</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="card shadow-sm h-100">
                            <img src="~/assets/img/tr12.png" alt="Camera" class="img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title text-center">Canon</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="star-rating">
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="fa fa-star text-warning me-1"></i>
                                        <i class="far fa-star text-warning me-1"></i>
                                    </div>
                                    <i class="fa fa-heart-o text-danger"></i>
                                </div>
                                <!-- Rental Price Dropdown -->
                                <div class="dropdown mt-3 text-end w-100">
                                    <button class="btn btn-primary w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Rental Price
                                    </button>
                                    <ul class="dropdown-menu w-100">
                                        <li><a class="dropdown-item" href="#">$15 / Day</a></li>
                                        <li><a class="dropdown-item" href="#">$60 / Week</a></li>
                                        <li><a class="dropdown-item" href="#">$200 / Month</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--------- How to work sections start from here ---->
<section>
    <div class="container-fluid mt-5 text-center bg-light">
        <h2>How it work</h2>
        <div class="row justify-evenly mt-5">
            <div class="col-md-4 col-lg-4 col-12">
                <div class="py-1 mb-3" style="background-color: #D1E9F6; border-radius: 10px;">
                    <img src="~/assets/img/hew1.png" alt="" class="img-fluid" style="width: 300px" />
                    <h5>Browse and select your renting needs</h5>
                    <p>
                        rowse & Select from a wide range
                        <br />
                        of Rental products on our website.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12">
                <div class="py-1 mb-3" style="background-color: #D1E9F6; border-radius: 10px;">
                    <img src="~/assets/img/hew2.png" alt="" class="img-fluid" style="width: 300px" />
                    <h5>Browse and select your renting needs</h5>
                    <p>
                        rowse & Select from a wide range
                        <br />
                        of Rental products on our website.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12">
                <div class="py-1 mb-3" style="background-color: #D1E9F6; border-radius: 10px;">
                    <img src="~/assets/img/hew3.png" alt="" class="img-fluid" style="width: 300px" />
                    <h5>Browse and select your renting needs</h5>
                    <p>
                        rowse & Select from a wide range
                        <br />
                        of Rental products on our website.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- How to work sections end from here ---->
