<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - User Dashboard</title>
    <link rel="stylesheet" href="~/css/user.css" />
</head>
<body>
    <div class="user-container">
        @RenderBody()
    </div>
</body>
</html>
