
@{
    ViewData["Title"] = "_Layout";
}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="navbar-nav">
        <a class="nav-link" href="/Admin/Admin/Index">Dashboard</a>
        <a class="nav-link" href="#">Users</a>
        <a class="nav-link" href="#">Bookings</a>
        <a class="nav-link" href="#">Manage Products</a>
        <a class="nav-link" href="#">Logout</a>
    </div>
</nav>

